/* блок с отображением показаний */
.nums {
	display: flex;
	gap: 1rem;
}

/* ячейки показаний */
.min,
.max,
.minv,
.maxv {
	width: 3.2rem;
	height: 1.6rem;

	color: black;
	text-align: center;

	background: var(--white);
	border-radius: 4px;
}
