/* обёртка компонента */
.wrap {
	position: relative;
	width: 100%;
}

/* стили для инпутов */
.input {
	cursor: pointer;

	position: absolute;

	width: 100%;
	height: 1rem;

	-webkit-appearance: none;
	appearance: none;
	background: transparent;
}

/* нижний инпут, отвечающий за инжнюю границу диапазона */
.down {
	top: 1rem;
}

/* блок для диапазона */
.diapazon {
	position: absolute;
	top: 0.9rem;

	height: 0.4rem;

	background: var(--bg-sec);
	border-radius: 0.25rem;
}

/* блок имитирующий общий трэк */
.falsetrack {
	position: absolute;
	top: 0.9rem;
	left: 2%;

	width: 96%;
	height: 0.4rem;

	background: rgb(204 204 207);
	border-radius: 0.25rem;
}

/* эффект наведения для трэка */
.wrap:hover .falsetrack {
	background: rgb(93 94 96);
}

/* эффект наведения для диапазона */
.wrap:hover .diapazon {
	box-shadow: inset 0 0 0 1px var(--hover);
}

/* эффект наведения для фишки */
.input:hover::-moz-range-thumb {
	border: 2px solid var(--hover);
}

/* эффект наведения для фишки */
.input:hover::-webkit-slider-thumb {
	border: 2px solid var(--hover);
}

/* эффект наведения для фишки */
.input:hover::-ms-thumb {
	border: 2px solid var(--hover);
}

/* фишка инпута */
.input::-moz-range-thumb {
	box-sizing: border-box;
	width: 1.1rem;
	height: 1.1rem;

	appearance: none;
	background: rgb(44 35 81);
	border: 2px solid var(--white);
	border-radius: 50%;
}

/* фишка верхнего инпута */
.up::-moz-range-thumb {
	transform: translateY(0.5rem);
}

/* фишка нижнего интута */
.down::-moz-range-thumb {
	transform: translateY(-0.5rem);
}

/* фишка инпута */
.input::-webkit-slider-thumb {
	box-sizing: border-box;
	width: 1.1rem;
	height: 1.1rem;

	appearance: none;
	background: rgb(44 35 81);
	border: 2px solid var(--white);
	border-radius: 50%;
}

/* фишка верхнего инпута */
.up::-webkit-slider-thumb {
	transform: translateY(0.5rem);
}

/* фишка нижнего интута */
.down::-webkit-slider-thumb {
	transform: translateY(-0.5rem);
}

/* фишка инпута */
.input::-ms-thumb {
	box-sizing: border-box;
	width: 1.1rem;
	height: 1.1rem;

	appearance: none;
	background: rgb(44 35 81);
	border: 2px solid var(--white);
	border-radius: 50%;
}

/* фишка верхнего инпута */
.up::-ms-thumb {
	transform: translateY(0.5rem);
}

/* фишка нижнего интута */
.down::-ms-thumb {
	transform: translateY(-0.5rem);
}
