@import url('_variables.css');

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	text-rendering: optimizelegibility;

	background-color: var(--bg);

	font-synthesis: none;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	place-items: center;

	min-width: 320px;
	min-height: 100vh;
	margin: 0;
}

#app {
	display: flex;
	gap: 2rem;
	align-items: start;
	justify-content: start;

	width: 100%;
	padding: 2rem;
}

.out,
.out2,
.out3 {
	overflow: auto;

	width: 40%;
	height: 80vh;

	color: var(--white);

	background: var(--black);
}

.out {
	width: 30%;
}

.out2 {
	width: 40%;
}

.out3 {
	width: 30%;
}
