@import url('_variables.css');
@import url('_work.css');
@import url('_nums.css');

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	text-rendering: optimizelegibility;

	background-color: var(--bg);

	font-synthesis: none;
}

body {
	display: flex;
	place-items: center;

	min-width: 320px;
	min-height: 100vh;
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;

	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}
