@import url('_variables.css');

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	text-rendering: optimizelegibility;

	background-color: var(--bg-l);

	font-synthesis: none;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	place-items: center;

	min-width: 320px;
	min-height: 100vh;
	margin: 0;
}

#app {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: center;

	width: 100%;

	perspective: 500px;
}

.wrap {
	position: relative;
	transform: rotateX(30deg);

	width: 1000px;
	height: 500px;

	border: 2px solid black;
}

.elem {
	position: absolute;
	width: 50%;
	height: 50%;
}

.elem svg {
	cursor: pointer;
	width: 100%;
	height: 100%;
	border: 1px solid;
}

.elem svg:hover path {
	fill: #00ede5;
}
